<div class="container-fluid">
    <app-matcard *ngFor="let matcard of matcards" [iPicture]="matcard" background="antiquewhite">
        <!--(matLikeBtnClick)="shareContent();"-->
    </app-matcard>
</div>
