<div class="container-fluid">
    <h2>{{title}}</h2>
    <app-classes></app-classes>
    <app-button background="{{showAddClass ? '#321fdb' : 'maroon'}}" color="white"
        text="{{showAddClass ? 'Close' : 'Add'}}" (btnClick)="toggleAddClass()">
    </app-button>
</div>