<form *ngIf="showAddClass" class="add-form" (ngSubmit)="onSubmit();" name="courseForm">
    <div class="mb-3">
        <label for="day" class="form-label">Day and time</label>
        <input type="text" name="day" [(ngModel)]="day" id="day" class="form-control md-3" placeholder="Add day & time">
        <p *ngIf="isAlert" class="alert alert-danger" role="alert">{{alertMsg}}</p>
    </div>
    <div class="mb-3">
        <label for="style" class="form-label">Style</label>
        <input type="text" name="style" [(ngModel)]="style" id="style" class="form-control md-3" placeholder="Add style">
    </div>
    <div class="mb-3">
        <label for="type" class="form-label">Type</label>
        <input type="text" name="type" [(ngModel)]="type" id="type" class="form-control md-3" placeholder="Add category">
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" name="reminder" [(ngModel)]="reminder" id="reminder">
        <label for="reminder" class="form-check-label">Add reminder</label>
    </div>
    <div class="mb-3 d-grid gap-2">
        <input type="submit" value="Save class" class="btn btn-primary">
    </div>
</form>