<div [ngClass]="{ reminder: iClass.reminder }" class="iClass" (dblclick)="onToggle(iClass)">
    <h3>{{iClass.day}}
        <fa-icon (click)="onDelete(iClass)" [ngStyle]="{'color':'maroon'}" [icon]="faTimes"> 
        </fa-icon>
    </h3>
    <h3>
        <ul>
            <li>
                {{iClass.style}}
            </li>
            <li>
                {{iClass.type}}
            </li>
        </ul>
    </h3>
</div>