.iClass{
    background-color:antiquewhite;
    margin: 5px 5px 0px 5px;
    padding:10px 30px;
    cursor:pointer;
}
.iClass.reminder{
    border-left: 5px solid maroon;
}

.iClass h3{
    display: flex;
    justify-content: space-between;
    align-items: center;

}