.container-fluid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
    flex-wrap: wrap;
}

button {
    margin: 8px;
}

.mat-radio-button~.mat-radio-button {
    margin-left: 16px;
}

.example-card {
    max-width: 20rem;
    background-color: antiquewhite;
}

.example-header-image {
    background-size: cover;
    background-image: url('src/assets/ai-generated-avatar.jpg');
}

.card-text {
    padding: 1rem;

}

button {
    background-color: ghostwhite;
    border: 1px 0 solid #cecece;
    box-shadow: 0.05em 0.05em 0.2em #a8a8a8;
}