<div class="container-fluid">
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Dancer</mat-card-title>
            <mat-card-subtitle>Images by: </mat-card-subtitle>
            <mat-card-subtitle *ngFor='let picture of pictures'>{{picture.author}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image *ngFor='let picture of pictures' src="{{picture.path}}" alt="Dancer photo 1">
        <mat-card-content>

            <p class="card-text">
                {{pictures[0].description}}
            </p>

        </mat-card-content>
        <mat-card-actions>
            <button mat-button>LIKE</button>
            &nbsp;
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
    </div>
