<mat-card class="iPicture" [ngStyle]="{'background-color': background}">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{iPicture.title}}</mat-card-title>
        <mat-card-subtitle>Image by {{iPicture.author}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="iPicture.path" [alt]="iPicture.alt" class="cropped">
    <mat-card-content>
        <p class="card-text">
            {{iPicture.description}}
            {{iPicture.source}}
        </p>
    </mat-card-content>
    <mat-card-footer>
        <mat-card-actions>
            <form #socialorm="ngForm"> 
                <button mat-button class="fixed" (click)="onMatLikeBtnClick();" type="submit">LIKE</button>
                
                <button mat-button class="fixed" (click)="onMatClearBtnClick();" type="submit">CLEAR</button>
                &nbsp;
                ❤️ {{likeCounter}}
            </form>
        </mat-card-actions>
    </mat-card-footer>
</mat-card>