
button {
    margin: 8px;
    background-color: ghostwhite;
    border: 1px 0 solid #cecece;
    box-shadow: 0.05em 0.05em 0.2em #a8a8a8;
}

.example-header-image {
    background-size: cover;
    background-image: url('src/assets/ai-generated-avatar.jpg');
}

.card-text {
    padding: 1rem;

}
