<div class="card" style="width: 30rem;">
    <div class="card-body">
        <div class="mb-3">
            
            <app-class-item 
                *ngFor="let class of classes" 
                [iClass]="class"
                (onDeleteClass)="deleteClass(class)"
                (onToggleReminder)="toggleReminder(class)">
            </app-class-item>
            <app-add-class (onAddClass)="addClass($event);"></app-add-class>
        </div>
        <div class="mb-3">

        </div>
    </div>
</div>